server.port=8083

spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true

spring.jpa.database-platform=org.hibernate.dialect.MySQL5InnoDBDialect
spring.profiles.active=prod

spring.datasource.initialization-mode=always

cors.allowed.origins=http://localhost:3000,http://localhost:8080